version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/backend"
    schedule:
      interval: weekly
    versioning-strategy: auto

  - package-ecosystem: "docker"
    directory: "/backend"
    schedule:
      interval: weekly

  - package-ecosystem: "pub"
    directory: "/mobile"
    schedule:
      interval: weekly
    versioning-strategy: auto

  - package-ecosystem: "docker-compose"
    directory: "/"
    schedule:
      interval: weekly
