export IP_ADDRESS=192.168.0.0
export API_URL=http://${IP_ADDRESS}:8080
export DJANGO_SUPERUSER_USERNAME=hoge
export DJANGO_SUPERUSER_EMAIL=hoge@test.com
export DJANGO_SUPERUSER_PASSWORD=hogehoge
export DJANGO_SECRET_KEY=hogehoge
export POSTGRES_DB=hoge
export POSTGRES_USER=hoge
export POSTGRES_PASSWORD=hogehoge

